    body,
    ul {
        margin: 0;
        padding: 0;
        background-color: #212529;
        font-family: 'Inter';
    }

    li.nav-item>a,
    .header-btn {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        padding: 25px 12.5px;
        box-sizing: border-box;
        transition: all .4s;
    }

    li.nav-item>a:hover {
        color: #FFB742;
    }

    .header-btn {
        color: #212529;
        padding: 12px 26px;
        background-color: #FFB742;
        border-radius: 50px;
        font-family: 'Poppins';
        font-weight: 700;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;
    }

    .nav {
        list-style: none;
        display: flex;
    }

    .info {
        color: white;
        display: flex;
        justify-content: center;

    }

    .name {
        font-size: 32px;
        align-items: center;
        padding: 0 535px;
        font-weight: 700;
    }

    .name-two {
        font-size: 48px;
        align-items: center;
        padding: 0 238px;
        font-weight: 700;
    }

    .name-three {
        font-size: 24px;
        align-items: center;
        padding: 0 341px;
        font-weight: 400;
    }

    a {
        color: #FFB742;
    }

    .circle {
        border-radius: 125px;
        position: relative;
        top: 31.82px;
        left: 9.55px;

    }

    .avatar {
        align-items: center;
        padding: 0 634.55px;
    }

    #avatar {
        position: absolute;
        z-index: 5;
        border-radius: 130px;

    }

    .panel {
        display: flex;
        justify-content: space-around;
    }

    .rect {
        width: 416px;
        height: 120px;
        background-color: #292B2E;
        border-radius: 10px;
    }

    #rect {
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
        color: white;
        font-size: 16px;
    }

    div.panel>a {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
    }

    #about {
        background-color: #FFFFFF14;
        color: #FFB742;
        padding: 12px 26px;
        border-radius: 50px;
        font-family: 'Poppins';
        font-weight: 600;
        text-decoration: none;
        font-size: 20px;
    }

    h1 {
        color: white;
        font-size: 48px;
        font-family: 'Roboto';
        font-weight: 700;
        font-style: bold;
    }

    .text {
        color: #D4D4D4;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 400;
        line-height: 30px;
    }

    .about {
        display: flex;
        justify-content: center;
    }

    .portfolio {
        display: flex;
        justify-content: center;
        color: white;
    }

    #portfolio {
        list-style: none;
        display: flex;
    }

    h2 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        display: flex;
        justify-content: center;
    }

    #btn-port {
        background-color: #FFFFFF14;
        color: #FFB742;
        padding: 12px 26px;
        border-radius: 50px;
        font-family: 'Poppins';
        font-weight: 600;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }

    .img {
        display: flex;
        justify-content: space-around;
    }

    li.port>a {
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        padding: 25px 12.5px;
        box-sizing: border-box;
        transition: all .4s;
    }

    li.port>a:hover {
        border: 3px;
        padding: 5px 20px 5px 20px;
        background-color: #FFB742;
        color: black;
    }

    #footer {
        background-color: #1C1C1C;
        margin: 0 auto;
        margin-top: 116.1px;
        display: flex;
        justify-content: space-around;
        color: #F5FBF2;
    }

    span {
        color: #FFB742;
        font-family: 'Poppins';
        font-size: 32px;
        font-weight: 700;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .footer {
        padding-top: 148px;
    }

    li.links>a {
        text-transform: capitalize;
        text-decoration: none;
        color: #7B7B7B;
        transition: all .4s;
        background-color: #1C1C1C;
    }

    .links {
        background-color: #1C1C1C;
        list-style: none;
        font-size: 17.99px;
    }